.cover-back{
  position: absolute;
  height: 100%;
  width: 100%;
}
.bg-semitransparent{
  background-color: rgba(97, 97, 97, 0.356);
}
.alertas{
  z-index: 999;
  color:red;
  background-color: black;
}