<div class="cover-back">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-sm-5 p-3 rounded bg-semitransparent mx-3 m-4">
        <form action="/forgot" method="POST" class=" text-white">
          <h1 class="h3 mb-3 font-weight-normal">Olvide mi contraseña</h1>
          <p>Se enviara un link de recuperacion a su correo</p>
          <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Correo" required autofocus>
          <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Enviar</button>
        </form> 
      </div>
    </div>
  </div>
</div>
